.market{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top{
    text-align: left;
    padding: 1.5vw 1.5vw 1.5vw 3vw;
    display: flex;
    background-color: white;
}
.top h4{
    flex: 1;
}
.top img{
    margin-left: 1vw ;
    height:1.5vw;
}
.how-tag{
    display: flex;
}
.ques-tag{
    border: 1px solid;
    margin-right: 0.5vw;
    padding: 0vw 0.4vw 0.1vw 0.4vw;
    font-size: 1vw;
    height: 1.5vw;
    margin-top: 0.4vw;
    background-color: #146eb4;
    color: white;
    cursor: pointer;
}
.how{
    color: #146eb4;
    font-size: 3vh;
}
.middle, .bottom{
    margin-left: 3vw;
}
.orders{
    margin-top: 10vh;
}
.ord-dis{
    display: flex;
}
.ord-dis h5{
    flex: 1;
}
.view{
    padding:0px;
    margin: 0px;
    cursor: pointer;
    text-align: right;
    flex: 1;
    margin-right: 1.9vw;
    color: #808080;
}
.ord-btn{
    width: 10vw;
    margin: 2vw 2vw 2vw 0vw;
    background-color:#e5e5e5;
    outline: none;
    border-radius: 25px;
    border: none;
    color: #808080;
}
.ord-btn:focus{
    box-shadow: none !important;
}
.ord-btn:active{
    transform: scale(0.98); 
    background-color: transparent;
}
